/* custom stylesheet for jacobelstein.com */

html{
	font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

a:link{
	color: darkblue;
}

a:hover{
	color: purple;
}

.container{
	margin: 25px auto;
}

#starbird, #welcome {
	text-align: center;
}

#starbird {
	margin: 25px auto;
}

#welcome > h1 {
	line-height: 77px;
}

#message{
	font-size: 1.5em;
}

#email {
	text-align: center;
	font-size: 2em;
	margin: 15px 0;
}