/* Return Links */
.returnLinks {
	float: none;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}

/* Collections */

.recipeDiv, .writingDiv {
	margin-top: 1.5rem;
}

.servingsSection {
	margin-bottom: 1.5rem;
}

.writingUpdate {
	margin-top: 2rem;
}

.collapseList li:last-child {
	margin-bottom: 10px;
}

