<!doctype html>
<html lang="en">
  {% include head.html %}
  <body class="text-center">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
      {% include header.html %}
      <main role="main" class="text-left inner cover">
        <h1 class="cover-heading">{{ page.title }} - {{ page.date | date: "%-m/%-d/%y"}}</h1>
        {% if page.github %}<p class="post-subtitle">GitHub: <a href="https://www.github.com/{{ page.github }}">{{ page.github }}</a></p>{% endif %}
        {% if page.web %}<p class="post-subtitle">Web Address: <a href="https://{{ page.web }}">{{ page.web }}</a></p>{% endif %}
      	{{ content }}
        <p class="post-linkback"><a href="/{{ page.category }}.html">Back to {{ page.category }}</a></p>
      </main> 
      {% include footer.html %}
    </div>
  </body>
</html>
